---
---

@import "{{ site.theme }}";

body {
	margin: 40px 0 0 0;
}

section {
	padding: 20px 0px 20px 0px;
	margin: 20px 0;
}

section #title {
	margin: 0 0 0 0;
}

p {
	margin-bottom: 5px;
}

h1 {
	font-size: 2.2em;
	font-weight: 800;
	margin: 0.67em 0;
	color: #f4bf75;
}

h2 {
	font-size: 1.7em;
	margin: 0.83em 0;
	color: lightseagreen;
}

h3 {
	font-size: 1.4em;
	margin: 1em 0;
	color: lightseagreen;
}

h4 {
	font-size: 1.2em;
	margin: 1.25em 0;
	color: lightseagreen;
}

h5 {
	font-size: 1.0em;
	margin: 1.3em 0;
	color: lightseagreen;
}

h6 {
	font-size: 0.8em;
	margin: 1.5em 0;
	color: lightseagreen;
}

code {
	margin: 0 0px;
	padding: 4px 4px;
}

ul {
	padding: 0 0 0 16px;
}